.page-header {
    margin: 20px;
    padding: 10px;
}

.changelog-container {
    margin: 15px;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: -4px;
}

.changelog-item {
    margin-bottom: 10px;
}

.changelog-title {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 3px;
    margin-bottom: 10px;
}

.changelog-content {
    display: none;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #fafafa;
}

.arrow-left::before {
    content: '\25B6';
    margin-left: 8px;
}

.arrow-down::before {
    content: '\25BC';
    margin-left: 8px;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .changelog-item {
    background-color: #1e1e1e;
}

body.dark-mode .changelog-content {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-mode .changelog-container {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-mode .changelog-title {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark-mode .arrow-down::before {
    content: '\25BC';
    margin-left: 8px;
    color: #ffffff;
}

body.dark-mode .arrow-left::before {
    content: '\25B6';
    margin-left: 8px;
    color: #ffffff;
}

.pastel-mode .placeholder {

}

.chrome-mode .placeholder {
    
}